@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

:root {
  --font-family-default: 'Jost', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
